<main class="main">
  <header class="header">
    Performance du WebAssembly vs JavaScript
  </header>

  <section class="content">
    <mat-card class="card">
      <mat-card-title>Tests WebAssembly</mat-card-title>
      <mat-card-content>
        <!-- Contenu pour WebAssembly -->
        Description et tests ici.
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>Tests JavaScript</mat-card-title>
      <mat-card-content>
        <!-- Contenu pour JavaScript -->
        Description et tests ici.
      </mat-card-content>
    </mat-card>
  </section>
</main>

<router-outlet></router-outlet>